*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
  
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("../img/realista\ pintada.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/*Login css*/

#formulario{
    width: 20vw;
    height: 49vh;
    box-shadow: 5px 5px 50px 5px;
    background-color: rgba(227, 215, 215, 0.2);
    border-radius: 10px;
    
}
h1{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 19px;
    
}

.gmail_senha{
    display: flex;
    justify-content: center;
    padding: 2px;
    padding-top: 25px;
    height: 35px;
    border-radius: 20px;
}
.utilidades{
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

#Entrar{
    width: 150px;
    height: 35px;
}
#Entrar:hover{
    background-color: green;
    color: white;
    border: 0.5px solid;
    cursor: pointer;
}
a{
    text-decoration: none;
}