* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("../img/background_login.png");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 2vw;
}

form {
    border: solid 1px;
    width: 20vw;
    height: 49vh;
    box-shadow: 5px 5px 50px 5px;
    background-color: rgba(227, 215, 215, 0.2);
    border-radius: 10px;
}

div {
    display: flex;
    justify-content: center;
    padding: 8px;
}

input {
    height: 5vh;
    width: 15vw;
    border-radius: 5px;
    border: none;
}
input:hover{
    border: solid 0.2px black;
}

button {
    height: 7vh;
    width: 13vw;
    border-radius: 5px;
}

button:hover {
    background-color: green;
    cursor: pointer;
    color: whitesmoke;
    border: solid 0.2px black;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
    cursor: pointer;
}

/* Media Query for Screens Below 768px */
@media (max-width: 768px) {
    /* Ajustando a largura do formulário para telas menores */
    form {
        width: 40vw;
        height: auto;
    }

    /* Ajustando a largura do input */
    input {
        width: 80%;
    }

    /* Botão ajustado para 80% da largura */
    button {
        width: 80%;
    }
}

/* Media Query for Screens Below 480px */
@media (max-width: 480px) {
    /* Ajustando a largura do formulário para telas muito pequenas */
    form {
        width: 70vw;
        height: auto;
        padding: 10px;
    }

    /* Inputs ocupando toda a largura disponível */
    input {
        width: 100%;
    }

    /* Botão ocupando toda a largura */
    button {
        width: 100%;
    }
}
