/* Reset de margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do header */
header {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    padding: 0 20px;
}

/* Botão do menu */
.menu-btn {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

/* Imagem do botão */
.menu-btn img {
    height: 100%;
    width: 100%;
}

/* Menu (inicialmente escondido) */
.menu {
    display: none;
    width: 200px;
    height: 100vh;
    background-color: rgb(8, 211, 8);
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 60px;  /* Ajusta para começar abaixo do header */
}

/* Estilo dos itens do menu */
.menu li {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    text-align: center;
    background-color: green;
    border-top: 1px solid white;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

/* Efeito de hover nos itens do menu */
.menu li:hover {
    background-color: darkgreen;
}
